dj-database-url
whitenoise
gunicorn
python-dotenv
psycopg2-binary
asgiref==3.10.0
astroid==4.0.2
attrs==25.4.0
autoflake==2.3.1
autopep8==2.3.2
black==25.11.0
cfgv==3.4.0
click==8.3.0
colorama==0.4.6
dill==0.4.0
distlib==0.4.0
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
factory_boy==3.3.3
Faker==38.2.0
filelock==3.20.0
flake8==7.3.0
flynt==1.0.6
identify==2.6.15
inflection==0.5.1
iniconfig==2.3.0
isort==7.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.4.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.3
pytest==9.0.1
pytest-django==4.11.1
pytokens==0.3.0
pyupgrade==3.21.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
sqlparse==0.5.3
tokenize_rt==6.2.0
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
virtualenv==20.35.4
